html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar {
    padding: 10px;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 35px;
}

.nav-item {
    
    padding-right: 30px;
}

.nav-link {
   
    font-size: 20px;    
}



.jumbotron {
    margin: 20px 100px 0 100px;

}


.contact {
    margin-right: 400px;
    margin-left: 400px;
}

  .sites {
      margin-bottom: 20px;
  }

.sticky-footer {
    margin-top: auto;
    color: white;
    
}